/* CSS*/

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

/* navbar */
.navbar{
    display: flex;
    align-items: center;
    position: fixed;
    width:100%;
    
}

/* Logo and Image  */ 
#logo{
      margin:5px 5px;
}

#logo img{
       height: 60px;
       margin: 3px 2px;
       width: 60px;
     
}
.clip-path{
    clip-path: circle(50% at 50% 50%);
} 

/* List Styling */

.navbar ul{
    display:flex;

}

.navbar::before{
    content:"";
    background-color: black;
    position: absolute;
    height:100%;
    width:100%;
    z-index: -1;
    opacity:0.4;
    top:0px;
    left:0px;
}
.navbar ul li{
        list-style: none;
        font-size: 1.3rem;
}

.navbar ul li a{
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}

.navbar ul li a:hover{
    background-color: rgb(179, 61, 229);
    color: black;
    box-shadow: 0 0 10px rgb(134, 61, 236);
}

body {
    font-family: cursive;
    font-size: 22px;
}

/* Home section */

#home{
    display:flex;
    flex-direction: column;
    height:400px;
    justify-content: center;
    border-spacing:200px;
    color:white;
    
}

#home::before{
    content:"";
    background: url('pic_2.jpg') no-repeat center top/cover; 
    position: absolute;
    height:100%;
    width:100%;
    z-index: -1;
    opacity:0.89;
    height:25rem;
    top:0px;
    left:0px;
    
}

#home h1{
    color:white;
    font-size:2rem;
    margin:128px 10px 0px 100px;
    padding:2px 6px;
}

/* services section*/

#services{
    margin: 34px;
    display:flex;
    flex-wrap: wrap;
    width:100%;
    height:100%;
} 
.section-heading{
    text-align: center;
    font-size:2.8rem;
    color:rgb(10, 10, 10); 
}
#services .box{
    border: 2px solid brown;
    padding:10px;
    margin:2px 38px;
    border-radius:23px;
    background-color: #cf1361;
    text-align:center;
    width:400px;
    height:300px;
    
}

#services .box img{
    height:160px;
    margin: auto;
    display:block;
}

.service-text{
   font-size: 10px;
   color:black;
}

/* Utility Classes */
.h-primary{
    font-size: 3.8rem;
    padding: 5px;

}

.h-secondary{
    font-size: 0.8rem;
    padding: 12px;

}

.btn{
    padding:6px 20px;
    border: 2px solid white;
    background-color: rgb(144, 8, 132);
    color: white;
    margin: 17px 0px 0px 164px;
    width:25%;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
}

.btn:hover{
    background-color: cornflowerblue;
}

/* Client section */

#client-container{
    height:50%;
    background-color: rgb(69, 57, 57);
}
.client-heading{
    text-align:center;
   
}

.clients{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
}

.client-items{
    padding:34px;
   
}


/* contact section*/

#contact-container::before{
    content:"";
    background: url('pic8.webp') no-repeat center top/cover; 
    position: absolute;
    width: 100%;
    z-index: -1;
    opacity:0.89;
    /* top:0px;
    left:0px; */
    /* height:306px; */
    height:30rem;
}

.contact-heading{
   text-align: center;
}

.contact-box{
    display:flex;
    justify-content: center;
    align-items: center;
    padding:34px;
}

input[type="text"],
input[type="email"],
input[type="number"],
textarea{
   width:100%;
   padding: 4px;
   border:1px solid  rgb(171, 30, 51);
   border-radius: 4px;
   
}

input[type="submit"]{
    padding:4px;
    margin:4px;
    background-color: cornflowerblue;
    border-radius: 4px;
    width:6rem;
    font-size:20px;
    cursor: pointer;
    border:none;
}
input[type="submit"]:hover{
    background-color: rgb(164, 8, 83);
}

/* footer section */

.footer-section{
    text-align:center;
    font-size:15px;
    background-color: black;
    color:white;
    padding:0px;
    margin:0px;
}

@media screen and(max-width:700px)
 {
        .navbar{
    flex-direction: column;
  }

.navbar ul li{
    list-style: none;
    font-size: 1rem;
    
   }

}
